{% extends 'base.html' %}

{% block content %}

<h1>{% block title %}Присутствующие{% endblock %}</h1>

<a href="{{ url_for('addMeetingParticipant', id=meeting_id) }}">
    <span class="btn btn-success btn-sm">Добавить участника</span>
</a>
<hr>

{% for p in Participants %}
    
<div class="alert alert-secondary">
    <p>
        <strong>Фамилия:</strong> {{p[1]}}
    </p>
    <p>
        <strong>Имя:</strong> {{p[2]}}
    </p>
    <p>
        <strong>Отчество:</strong> {{p[3]}}
    </p>
    <form action="{{ url_for('deleteMeetingParticipant', id=p[4]) }}" method="POST">
        <a href="{{ url_for('editMeetingParticipant', id=p[4]) }}">
            <span class="btn btn-warning btn-sm">Редактировать</span>
        </a>
        <input type="submit" value="Удалить участника"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Вы действительно хотите удалить данного участника?')">
    </form>
</div>
{% endfor %}
{% endblock %}