{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} "{{ project[1] }}" (Режим редактирования) {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="project_name">Название</label>
        <input type="text" name="project_name"
               placeholder="Название проекта" class="form-control"
               value="{{ project[1] }}"></input>
    </div>

    <div class="form-group">
        <label for="soft_type">Тип ПО</label>
        <input type="text" name="soft_type"
               placeholder="Тип разрабатываемого ПО" class="form-control"
               value="{{ project[2]}}"></input>
    </div>

    <div class="form-group">
        <label for="employer_ID">Заказчик</label>
        <select  placeholder="Название компании ИЛИ ФИО заказчика"  name="employer_ID" class="selectpicker form-control" >
            {% for n in Names %}
            <option value = {{n[0]}}> {{n[1]}} </option>
            {% endfor %}
            </select> 
    </div>

    <div class="form-group">
        <label for="project_start">Дата начала</label>
        <input required type="date" name="project_start"
               placeholder="Дата начала проекта" class="form-control"
               value="{{ project[5] }}"></input>
    </div>

    <div class="form-group">
        <label for="project_end">Дата окончания</label>
        <input required type="date" name="project_end"
               placeholder="Дата окончания проекта (планируемая)" class="form-control"
               value="{{ project[6] }}"></input>
    </div>

    <div class="form-group">
        <label for="project_real_end">Дата фактического окончания</label>
        <input type="date" name="project_real_end"
               placeholder="Дата окончания проекта (реальная)" class="form-control"
               value="{{ project[7] }}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
    </div>
</form>
<hr>
{% endblock %}